<div class="col-xs-12 col-sm-6">
  <h3>{{tipo | titlecase}}s</h3>
  <div class="panel panel-default">
      <div class="panel-body">
          <p>{{getFacturas().length}} pelísdfkljsdlkfculas vistas</p>
          <ul class="lista-facturas lista-ingresos list-unstyled">
              <li *ngFor="let factura of getFacturas()">
                  Núm. {{factura.numero}}: {{factura.total()}}€ (Base {{factura.base}}€ + IVA {{factura.totalIva()}}€)
              </li>
          </ul>
      </div>
  </div>
</div>