<div class="row">
  <header>
      <h1 class="col-xs-6">Facturas</h1>
      <div class="col-xs-6 text-right">
          <i class="glyphicon glyphicon-plus" data-toggle="collapse" href="#nueva-factura"></i>
      </div>
  </header>
</div>