<div class="container">
    <nav class="row">
        <ul class="col-xs-12 list-inline text-right">
            <li><a routerLink="/inicio" routerLinkActive="actual">Inicio</a></li>
            <li><a routerLink="/nueva-factura" routerLinkActive="actual">Nueva factura</a></li>
            <li><a routerLink="/totales-facturas" routerLinkActive="actual">Totales</a></li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>