<div class="row">
  <footer class="col-xs-12">
      <div class="panel panel-default">
          <div class="panel-body">
              <h3>Totales</h3>
              <p>
                  Total gastos:
                  <strong>{{getTotalPorTipo("gasto") | decimales:"2"}}€</strong> (Base {{getTotalBasesPorTipo("gasto")}}€ + IVA {{getTotalIvasPorTipo("gasto") | decimales}}€)</p>
              <p>
                  Total ingresos:
                  <strong>{{getTotalPorTipo("ingreso") | decimales}}€</strong> (Base {{getTotalBasesPorTipo("ingreso")}}€ + IVA {{getTotalIvasPorTipo("ingreso") | decimales}}€)</p>
              <p class="balance">
                  Balance:
                  <span [class.positivo]="getBalance() >= 0" [class.negativo]="getBalance() < 0">
                      <strong>{{getBalance() | decimales}}€</strong>
                  </span>
              </p>
          </div>
      </div>
  </footer>
</div>