<div class="form col-xs-12" id="nueva-factura">
  <div class="panel panel-default">
      <h3 class="panel-heading">Nueva factura</h3>
      <form class="row panel-body" #formularioNuevaFactura="ngForm" (ngSubmit)="crearFactura(formularioNuevaFactura)">
          <div class="clearfix">
            <div class="form-group col-xs-12 col-sm-6">
              <label for="numero">Número:</label>
              <input type="text" class="form-control" [(ngModel)]="nuevaFactura.numero" id="numero" name="numero" required #campoNumero="ngModel">
              <p *ngIf="campoNumero.invalid && campoNumero.dirty">Campo obligatorio</p>
          </div>
          <div class="form-group col-xs-12 col-sm-6">
              <label for="base">Base:</label>
              <input type="number" class="form-control" [(ngModel)]="nuevaFactura.base" id="base" name="base" required>
          </div>
        </div>
        <div class="clearfix">
          <div class="form-group col-xs-12 col-sm-6">
              <label for="iva">IVA:</label>
              <input type="number" class="form-control" [(ngModel)]="nuevaFactura.iva" id="iva" name="iva" required>
          </div>
          <div class="form-group col-xs-12 col-sm-6">
              <label for="tipo">Tipo:</label>
              <select class="form-control" [(ngModel)]="nuevaFactura.tipo" id="tipo" name="tipo">
                    <option value="">Selecciona tipo</option>  
                    <option value="ingreso">Ingreso</option>
                    <option value="gasto">Gasto</option>
              </select>
          </div>
        </div>
          <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-primary" [disabled]="formularioNuevaFactura.invalid">Añadir</button>
              {{nuevaFactura | json}}
          </div>
      </form>
  </div>
</div>